<div class="d-flex d-flex-wrap">
    <div class="box1">
        <h2 style="color:{{txtcolor}}">
            {{welcome_label}}
        </h2>
        <p style="color:{{txtcolor}}">
            {{text}}
        </p>
    </div>
    <div class="box2">
        <img src="{{image_url}}" class="" />
    </div>
</div>
<style>
    body.dl-dark-mode .block_dlwelcome {
        background: url('https://totara-18-actualizacion.academia365.cl/pluginfile.php/1611/course/images/1737311660/image'), linear-gradient(to bottom, var(--dl-background) 0%, var(--dl-background) 100%) ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: {{txtcolor}};
    }
</style>