<div class="tabtree">
    <ul class="nav nav-tabs">
        <li class="{{add_path_active}}">
            <a href="{{path_link}}">{{pluginname}}</a>
        </li>
        <li class="{{add_stage_active}}">
            <a class="{{is_disabled}}" href="{{stage_link}}">{{add_stage_string}}</a>
        </li>
    </ul>
    <a href="{{href}}">{{add_text}}</a>
</div>
