<div class="card lp-card-body">
    <a href="{{href}}"><img class="card-img-top lp-card-image" src="{{image}}" alt="Card image cap"></a>
    <div class="card-body">
        <h5 class="card-title" style="padding-left: 15px;">{{name}}</h5>
        <footer class="text-right" style="padding-right: 30px;">
            <small class="lp-card-time">Duración: {{duracion}}  </small>
        </footer>
    </div>
</div>

