<div id="dl-topbar-searchjs">
    <i class="fa fa-search"></i>
    <input type="text" id="genericsearchbox" name="search" class="form-control" value="" placeholder="{{#str}}search, admin{{/str}}" />
</div>