<div class="col-xs-12 col-sm-12 col-md-3 col-lg-8 img-profile">
    <div class="d-flex">
        <div class="col-lg-4">
            <span class="picture-profile">
               <img src="{{image_profile}}" class="img-fluid custom-square">
            </span>
        </div>
        <h5 class="bold">{{user_name}}</h5>
    </div>
</div>
